/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
    color: white;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  header h2 {
    font-size: 24px;
    margin: 0;
  }
  
  header p {
    margin: 0;
    font-size: 18px;
  }
  
  header img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
  }
  