<header class="header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h1 class="header__name">Akshata Darakhe</h1>
          <p class="header__title">Front-End Developer</p>
        </div>
        <div class="col-md-4 text-right">
          <ul class="header__contact">
            <li><i class="fas fa-envelope"></i> akshudarakhe2001@gmail.com</li>
            <li><i class="fas fa-mobile-alt"></i> 7875738497</li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  