<section class="skills">
    <div class="container">
      <h2 class="section-title">Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <ul class="skills__list">
            <li class="skills__item">Angular</li>
            <li class="skills__item">CSS</li>
            <li class="skills__item">Django</li>
            <li class="skills__item">Node.js</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="skills__list">
            <li class="skills__item">Certified Ethical Hacker (CEH)</li>
            <li class="skills__item">Cybersecurity</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  